.headerContainer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 20px 0;

}

.header {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.logoMain {
    height: 40px;
}

.logo {
    height: 30px;
}

.links {
   display: flex;
   width: 200px;
   justify-content: space-around;
   align-items: center;
}

