
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1F2937;
}

li, a {
    font-weight: 500;
    font-size: 14px;
    color: #E5E7EB;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
}

.logo {
    height: 30px;
    cursor: pointer;
}

.links, li {
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

.heroContainer {
    display: flex;
    padding: 0px 20px;
}

.mountainImage {
    height: 300px;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

p {
    font-size: 14px;
    font-weight: 300;
    color: #E5E7EB;
    padding-bottom: 20px;
}

.heroButton, button {
    padding: 8px 25px;
    background: none;
    color: whitesmoke;
    background-color: rgb(76, 201, 159);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    margin-top: 25px;
    background-color: #f9faf8;
}

.contentImage {
    height: 75px;
    background-color: #f9faf8;
    padding-bottom: 8px;
}

h2 {
    padding: 20px;
    color: #1F2937;
    background-color: #f9faf8;
}

.column1, .column2, .column3 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #f9faf8;
    padding: 5px;
}

h6 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 10px;
    font-style: italic;
    color: #1F2937;
    background-color: #f9faf8;
}

.qouteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #E5E7EB;
}

.qoute, h5, .ei {
    color: #1F2937;
    background-color: #E5E7EB;
}

h4 {
    display: flex;
    font-size: 12px;
    justify-content: center;
    padding-top: 20px;

    color: #E5E7EB;
}